html {
    overflow-y: scroll;
}

html, body {
    padding-top: 27px;
    /* height: 100%;*/
    background: center no-repeat fixed url('/assets/example/bg_suburb.jpg');
    background-size: cover;
    background: #EEEEEE;
}

.icon-bar {
    background-color: #777;
}

.navbar-trans {
    background-color: #fff;
    color: #fff;
}

.shop-menu>li>a {
    display: inline-block;
    margin: 5px 7px;
    padding: 0px 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #777;
}

.shop-menu>li>a>i {
    vertical-align: middle;
    line-height: 45px;
}

.shop-menu>li>a:hover {
    color: red;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.badge {
    background: red;
}


/*Modal Window*/

.modal-pos {
    position: absolute;
    top: 25%;
    left: 25%;
}

.hrStyle {
    height: 1px;
    background-color: #cdcdcd;
}

.btn-facebook {
    background: #3b5998;
}

.btn-twitter {
    background: #00aced;
}

.btn-google {
    background: #c32f10;
}

.btn-facebook, .btn-twitter, .btn-google {
    color: white;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}


/*Checkout modal*/

#checkout-modal .form-control {
    display: inline-block !important;
}


/*cart-product*/

#cart-product {
    margin: 0 2%;
    background-color: #fff;
}

#cart-product div[class*='col-lg-'], #cart-product div[class*='col-md-'], #cart-product div[class*='col-sm-'], #cart-product div[class*='col-xs-'] {
    padding: 0 0;
}

#cart-product .product-content {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1% !important;
}


/*Product-price*/

#cart-product .product-price {
    padding-top: 1% !important;
    /*padding-left: 1% !important;*/
}

.product-price .product-quantity span, .product-price .total-price span {
    color: #596067;
    font-size: 1.5em;
    font-weight: 700;
    min-width: 100px;
    padding: 1% !important;
    vertical-align: middle !important;
}

.product-price .total {
    color: #E74C3C !important;
}


/*Tab Style*/

.tab-content {}

.navtab-style li a {
    background: #34495e;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
}

.navtab-style li a:hover, .navtab-style li a:focus {
    background-color: #a1aaaf;
}


/*Product List*/

.product-list {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}

.product-list:hover {
    /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.productlist-image {
    padding: 5px !important;
}

.product-desc {
    padding: 2% !important;
}

.product-name {
    padding-bottom: 4%;
}

.product-name h3 {
    line-height: 16px;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: normal;
    width: auto;
    font-size: 1.5em;
}

.product-name h3 a {
    font-size: 14px;
    color: #036;
}

.shop-name a {
    color: #036;
    font-size: 12px;
}

.shop-name a:hover, .product-name a:hover, .infoprice a:hover, .report a:hover {
    color: #FF9900;
}

.infoprice {
    padding-top: 4.7% !important;
    padding-left: 5% !important;
}

.value {
    color: #f60;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
}

.separator, .unit {
    font-size: 12px;
    color: #999;
    font-weight: 400;
}

.infoprice .rating-box {
    font-size: 11px;
}

.rate-history {
    font-size: 12px;
    padding-top: 3%;
    overflow: hidden;
}

.rate-history a {
    color: #666;
    font-size: 12px !important;
    line-height: 14px;
}

.add-to {
    padding-right: 1% !important;
    padding-bottom: 1% !important;
}

.add-to a {
    /*padding-right: 5%;*/
}

.cross {
    padding-top: 1% !important;
    padding-right: 1% !important;
}


/*Pagination*/

.pagination-style {
    background-color: #F0F0E9;
    /*padding: 1px !important;*/
}

.pagination-style .pagination {
    margin: 0.5% 0;
}

.pagination-style nav ul {
    margin-bottom: 0px;
}


/*************************
*******Footer*************
**************************/

#footer {
    background: #F0F0E9;
    margin: 0 0%;
}

.footer-top .container {
    border-bottom: 1px solid #E0E0DA;
    padding-bottom: 20px;
}

.companyinfo {
    margin-top: 57px;
}

.companyinfo h2 {
    color: #B4B1AB;
    font-family: abel;
    text-transform: uppercase;
}

.companyinfo h2 span {
    color: #FE980F;
}

.companyinfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-top .col-sm-3 {
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

.video-gallery a img {
    height: 100%;
    width: 100%;
}

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #CCCCC6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #FE980F;
    border-radius: 3px;
    color: #FFF;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.video-gallery a:hover .overlay-icon {
    opacity: 1;
}

.video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.video-gallery h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}

.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.address img {
    width: 100%;
}

.address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}

.footer-widget {
    margin-bottom: 68px;
}

.footer-widget .container {
    border-top: 1px solid #FFFFFF;
    padding-top: 15px;
}

.single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.single-widget h2 i {
    margin-right: 15px;
}

.single-widget ul li a {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

.single-widget ul li a i {
    margin-right: 18px;
}

.single-widget ul li a:hover {
    background: none;
    color: #FE980F;
}

.searchform input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 80%;
}

.searchform button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    /*padding: 7px 17px;*/
    width: 20%;
}

.searchform button i {
    color: #FFFFFF;
    font-size: 1em;
}

.searchform button:hover, .searchform button:focus {
    background-color: #FE980F;
}

.searchform p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.footer-bottom {
    background: #D6D6D0;
    padding-top: 10px;
}

.footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #FE980F;
    font-style: italic;
    text-decoration: underline;
}


/*media query*/

@media only screen and (min-width: 300px) {
    /*Productlist Image*/
    .productlist-image img {
        height: 100%;
        width: 100%;
    }
    /*Footer*/
    .companyinfo h2 {
        font-size: 12px;
    }
    .single-widget h2 {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        margin-bottom: 22px;
        text-transform: uppercase;
    }
    .single-widget ul li a {
        color: #8C8C88;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 100;
        padding: 5px 0;
    }
}

@media only screen and (min-width: 300px) {
    /*Code modal*/
    .code-text {
        width: 60% !important;
    }
    .checkout-modal-btn {
        width: 35% !important;
    }
}

@media only screen and (min-width: 480px) {
    /*Product Image*/
    .productlist-image img {
        height: 100%;
        width: 100%;
    }
    /*Code modal*/
    .code-text {
        width: 75% !important;
    }
    .checkout-modal-btn {
        width: 22% !important;
    }
    /*Footer*/
    .companyinfo h2 {
        font-size: 15px;
    }
    .single-widget h2 {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        margin-bottom: 22px;
        text-transform: uppercase;
    }
    .single-widget ul li a {
        color: #8C8C88;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 100;
        padding: 5px 0;
    }
}

@media only screen and (min-width: 768px) {
    /*navbar textarea*/
    .navbar-form .input-group > .form-control {
        width: 100px;
    }
    /*Code modal*/
    .code-text {
        width: 75% !important;
    }
    .checkout-modal-btn {
        width: 22% !important;
    }
    /*Product Image*/
    .productlist-image img {
        height: 130px;
        width: 130px;
    }
    /*Footer*/
    .companyinfo h2 {
        font-size: 20px;
    }
    .single-widget h2 {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 22px;
        text-transform: uppercase;
    }
    .single-widget ul li a {
        color: #8C8C88;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 0;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-form .input-group > .form-control {
        width: 320px;
    }
    /*Code modal*/
    .code-text {
        width: 75% !important;
    }
    .checkout-modal-btn {
        width: 22% !important;
    }
    /*Product Image*/
    .productlist-image img {
        height: 170px;
        width: 170px;
    }
    /*Footer*/
    .companyinfo h2 {
        font-size: 30px;
    }
    .single-widget h2 {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 22px;
        text-transform: uppercase;
    }
    .single-widget ul li a {
        color: #8C8C88;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-form .input-group > .form-control {
        width: 520px;
    }
    /*Code modal*/
    .code-text {
        width: 75% !important;
    }
    .checkout-modal-btn {
        width: 22% !important;
    }
    /*Product Image*/
    .productlist-image img {
        height: 200px;
        width: 200px;
    }
    /*Footer*/
    .companyinfo h2 {
        font-size: 30px;
    }
    .single-widget h2 {
        color: #666663;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 22px;
        text-transform: uppercase;
    }
    .single-widget ul li a {
        color: #8C8C88;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 0;
    }
}